<!-- <main class="home">
  <uib-accordion close-others="homeCtrl.oneAtATime">
    <div uib-accordion-group class="panel-default" heading="In box A is magic">
      Empty.
    </div>
    <div uib-accordion-group class="panel-default" heading="In box B is money">
      Empty.
    </div>
    <div uib-accordion-group class="panel-default" heading="In box C is a job">
      Magic, Money, Food.
    </div>
  </uib-accordion>
</main> -->

<main class="home">
  <a ng-href="{{homeCtrl.googleAuthURL}}"> Login with Google </a>
</main>
